<div id="educationarea">
    <br><br>
    <div class="headings">Education</div>
<div class="flex-item">
    <div class="edu_left" >
        <div style="margin-left: 30%;margin-top: 30%;font-size: 1rem;" [ngClass]="{'fade-in': showAnimation}">2019-2023</div>
        <br>
        <div style="margin-left: 30%;margin-top: 6%;font-size: 1rem;" [ngClass]="{'fade-in': showAnimation}">Degree</div>

    </div>
    <div class="edu_right">
        <div style="margin-left: 3%;font-size: 1rem;margin-top: 2%;">Bachelor of Engineering(B.E)</div>
        <div style="margin-left: 3%;font-size: 2rem;margin-bottom: 3%;"><b>Chaitanya Bharathi Institute of Technology</b></div>

        <div style="margin-left: 3%;">        <ul>
            <li style="padding-right: 3%;">CBIT ranked 29 in Top T-Schools in India 2023 (Government and Private Sector) in the country as
                per the DATAQUEST Magazine, March 2023 edition.</li>
            <li>Completed B.E in Computer Science and Engineering with good CGPA.</li>
            <li>Participated and Organized events in College Fests</li>
        </ul>
    </div>

    </div>
</div>

<div class="flex-item">
    <div class="edu_left">
        <div style="margin-left: 30%;margin-top: 30%;font-size: 1rem;">2017-2019</div>
        <br>
        <div style="margin-left: 30%;margin-top: 6%;font-size: 1rem;">Intermediate</div>

    </div>
    <div class="edu_right">
        <div style="margin-left: 3%;font-size: 1rem;margin-top: 2%;">Higher Secondary</div>
        <div style="margin-left: 3%;font-size: 2rem;margin-bottom: 3%;"><b>Bhashyam Junior College</b></div>

        <div style="margin-left: 3%;">        <ul>
            <li>The High School was mainly focus on the bases of Physics, Mathematics, and Chemistry</li>
            <li>There was also a good base on physics, mathematics and chemistry.</li>
            <li>Completed my high school with 96.3%.</li>
            
        </ul>
    </div>

    </div>
</div>

<div class="flex-item">
        <div class="edu_left">
            <div style="margin-left: 30%;margin-top: 30%;font-size: 1rem;">2016-2017</div>
            <br>
            <div style="margin-left: 30%;margin-top: 6%;font-size: 1rem;">High School</div>

        </div>
    <div class="edu_right">
        <div style="margin-left: 3%;font-size: 1rem;margin-top: 2%;">High School</div>
        <div style="margin-left: 3%;font-size: 2rem;margin-bottom: 3%;"><b>Bhashyam High School</b></div>

        <div style="margin-left: 3%;">        
        <ul>
            <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.</li>
            <li>Completed my high school with 9.7 GPA.</li>
        </ul>
    </div>

    </div>
</div>
</div>