<div id="aboutarea">
    <!-- <div class="headings"><b>About</b></div> -->
    <br>
    <div style="display: inline-block;">
        <div class="flex-item">
            <div class="about_block">
                <div class="About_1_left">
                    <h3>About</h3>
                    <br>
                    <ul>
                        <li>Software Developer with 3+ months of experience</li>
                        <li>Worked with Software Development Life Cycle(SDLC) and agile methodologies</li>
                        <li>Fresher in Angular 2+ All versions, Javascript, Node JS and UI with Responsive Designs</li>
                        <li>Have good understanding of Python, MsSQL, Java ,DSA</li>
                    </ul>
                    <br>
                    <p>Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.</p>
                </div>
                <div class="Basic_right">
                    <br><br>
                    <h3>Basic Information</h3><br>
                    <ul>
                        <li>Date of Birth : Sep 28,2001 </li>
                        <li>Email : <a href="mailto:ruhith2803@gmail.com" target="_blank">ruhith2803@gmail.com</a></li>
                        <li>Phone : +91-8688348590</li>
                        <li>Address : Hyderabad,Telangana</li>
                        <li>Language : English,Hindi,Telugu,Urdu</li>
                    </ul>
                
                </div>
                </div>
        </div>
</div>
    