<!-- <logo> -->
<!-- <title></title> -->
<!-- <ullist></ullist> -->
<div class="navbarbody">
<header >
    <nav>
        <div class="left">Ruhith-Portfolio</div>
        <div class="right">
            <ul>
                <li><a (click)="scrolltopHomeArea()">Home</a></li>
                <li> <a (click)="scrolltopAboutArea()">About</a></li>
                <li> <a (click)="scrolltopEducationArea()">Education</a></li>
                <li><a (click)="scrolltopExperienceArea()">Experience</a>
                    <!-- <div class="submenu">
                        <ul>
                            <li><a href="wwwgoogle.com">Research</a></li>
                            <li><a href="wwwgoogle.com">Work</a></li>
                        </ul>
                    </div> -->
                </li>
                <li><a (click)="scrolltopprojectsArea()">Projects</a></li>
                <li><a (click)="scrolltopCertificationsArea()">Certifications</a></li>
                <li><a (click)="scrolltopSkillsArea()">Skills</a></li>
                <li><a (click)="scrolltopContactArea()">Contact Me</a></li>
                <li><a (click)="scrolltopmore()">More</a>
                    <!-- <div class="submenu">
                        <ul>
                            <li><a (click)="scrolltopTalksArea()">Talks</a></li>
                            <li><a (click)="scrolltopProgammingArea()">Progamming Languages</a></li>
                            <li><a (click)="scrolltopAchievementArea()">Achievements</a></li>
                            <li><a (click)="scrolltopHobbiesArea()">Hobbies and Intrests</a></li>
                            <li><a (click)="scrolltopResponsibilitiesArea()">Responsibilities</a></li>
                        </ul>
                    </div> -->
                
                </li>

            </ul>

        </div>

    </nav>
</header>
</div>

