<div id="certificationsarea">
   
    <br><br>
    <div class="headings">Certificates</div>
<div style="justify-content: center; align-items: center;margin-left: 11%;">
<div class="flex-item" style="margin-left: 10%;">
    <img src="assets/Certificates/nptel_certificate.jpg"> 
      <!--src/assets/Certificates/nptel_certificate.jpg -->
      <div class="hover-text">
        <ul>
            <li>Explained about constraint algorithms</li>
            <li>Organized by NPTEL by IITMadras</li>
        </ul>
    </div>
</div>

<div class="flex-item">
    <img src="assets/Certificates/pythonInternshala.jpg">
       <!--src/assets/Certificates/pythonInternshala.jpg  -->
       <div class="hover-text">
        <ul>
            <li>Detailed course on Python</li>
            <li>Solved Multiple Questions</li>
        </ul>
    </div>
</div>



</div>
</div>

<!-- <div ngIf="ispopup">
    <img src="assets/hackerrank.jpg">   
    <p>Get certified in technical skills by taking the HackerRank Certification Test</p>

</div> -->