<div id="experiencearea">
    <br><br>
<br><br>
<br><br>

<div class="homebody">
<main>
<section class="secondSection">
    <span class="text-gray">What i have done so far</span>

    <h1 style="font-size: 25px;">work Experience</h1>


    <div class="box">
        <hr>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/html5.png">
            <div class="vertical-title">
                <h5>HTML & CSS developer </h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.


            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/angular.png">
            <div class="vertical-title">
                <h5>Angular developer</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/SQL.jpeg">
            <div class="vertical-title">
                <h5>Data Migration</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/debug.jpeg">
            <div class="vertical-title">
                <h5>Debugging</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/debug.jpeg">
            <div class="vertical-title">
                <h5>Understanding Flow</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>




    </div>

</section>
</main>
</div>
</div>