<div id="experiencearea">
    <br><br>
<br><br>
<br><br>

<div class="homebody">
<main>
<section class="secondSection">
    <span class="text-gray">What i have done so far</span>

    <h1 style="font-size: 25px;">work Experience</h1>


    <!-- <div class="box">
        <hr>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/html5.png">
            <div class="vertical-title">
                <h5>HTML & CSS developer </h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.


            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/angular.png">
            <div class="vertical-title">
                <h5>Angular developer</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/SQL.jpeg">
            <div class="vertical-title">
                <h5>Data Migration</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/debug.jpeg">
            <div class="vertical-title">
                <h5>Debugging</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/debug.jpeg">
            <div class="vertical-title">
                <h5>Understanding Flow</h5>
            </div>
            <div class="vertical-desc">
                Typed.js is a library that types. Enter in any string, and watch it type at the speed you've
                set, backspace what it's typed, and begin a new sentence for however many strings you've set.
            </div>
        </div>




    </div> -->

    <div class="box">
        <hr>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/dotnet.png">
            <div class="vertical-title">
                <h5>.Net developer </h5>
            </div>
            <div class="vertical-desc">
                Developed a solid understanding of web application development using ASP.NET framework, data
                access through ADO.NET, and implementation of the Model-View-Controller (MVC) architectural
                pattern. Hands-on experience in building responsive and scalable web solutions.


            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/angular.png">
            <div class="vertical-title">
                <h5>Angular developer</h5>
            </div>
            <div class="vertical-desc">
                Acquired proficiency in building dynamic and responsive user interfaces, implement single-page applications, and utilizing Angular's modular architecture. Hands-on experience with components, services, and data binding. Excited to apply my newfound skills in creating engaging and seamless web experiences.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/hcss.png">
            <div class="vertical-title">
                <h5>HTML & CSS developer </h5>
            </div>
            <div class="vertical-desc">
                Acquired a strong foundation in web development, demonstrating proficiency in structuring
                content with HTML and styling it creatively with CSS. Developed responsive and visually
                appealing web pages, incorporating best practices for modern design.

            </div>
        </div>

        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/SQL.jpeg">
            <div class="vertical-title">
                <h5>Data Migration</h5>
            </div>
            <div class="vertical-desc">
                Acquired hands-on experience in planning and executing data transfers between databases.
                Developed expertise in optimizing database performance, ensuring data integrity. Excited to
                apply my newly acquired skills to contribute to efficient data management and migration
                projects.
            </div>
        </div>
        <div class="vertical"><img class="image-top" src="assets/Experiencelogs/debugging.png">
            <div class="vertical-title">
                <h5>Debugging</h5>
            </div>
            <div class="vertical-desc">
                Acquired a systematic approach to identify and resolve software issues, utilizing debugging
                tools and methodologies. Developed a keen understanding of code architecture, execution
                flow, and error analysis. Eager to apply to enhance software reliability and contribute to
                efficient problem-solving.
            </div>
        </div>
</div>

    

</section>
</main>
</div>
</div>