.flex-item {
    display: flex; 
    /* justify-content: center; 
    align-items: center; */
    box-shadow: 5px -2px 8px 5px #ccc;
    /* padding: 15px 14px; */
    border-radius: 5px;
    /* margin: 3px 5px; */
    text-align: left;
    font-size: 14px;
    width: 29%;
    /* height:500px; */
    /* transition: ease-in .3s; */
    transition: 0.3s;
    color: black;
    background-color: #fff;
    /* align-items: center; */
    font-weight: 600;
    margin-left: 3%;
    margin-top: 2%;
}
.flex-item:hover {
  cursor: pointer;
  transition: ease-in .3s;
  transform: scale(1.1);
  border-bottom: 4px solid #ff8d00;
}
.edu_left{
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 50%;
    background-color: blue;
    color: red;
    /* background: url(/Users/sky/Desktop/Portfolio_Website/portfolio/src/assets/Projects/InsiderThreatphoto.jpg) no-repeat; */
  
}
.edu_right{
   width: 100%;
   margin-bottom: 2%;
  background-color: #d5952e;
}

.edu_left_insider img{
    width: 100%;
    position: relative;
    transition: opacity 0.3s ease; 
    opacity: 0.2; 
}

.edu_left_insider img:hover{
  opacity: 1;
}

.btn{
  padding: 10px;
  background: blueviolet;
  color:white;
  border: 1px solid white;
  border-radius: 3px;
  font-size:15px;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 2%; 
  margin-left: 4%;   
}

.btn a{
  text-decoration: none;
  color: white;
}

