<div id="skillsarea">
    <style>
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      </style>    
<br><br>
<div class="headings">Skills</div>
<div class="flex-item">
        <div style="width :12%;">
            <br>
            <ul>
                <li><img src="assets/skill_logos/java.png" alt="facebook" class="logo12">Java</li>
                <li><img src="assets/skill_logos/Python.jpeg" alt="facebook" class="logo12">Python</li>
                <li><img src="assets/skill_logos/SQL.jpeg" alt="facebook" class="logo12">MsSQL</li>
                <li><img src="assets/skill_logos/js.png" alt="facebook" class="logo12">Javascript</li>
               
            </ul>
            
        </div>
        <div style="width :12%;">
            <br>
            <ul >
                <li><img src="assets/skill_logos/download.png" alt="facebook" class="logo12">Html5</li>
                <li><img src="assets/skill_logos/Css3.png" alt="facebook" class="logo12">CSS</li>
                <li><img src="assets/skill_logos/angular.png" alt="facebook" class="logo12">Angular 2+</li>
                <li><img src="assets/skill_logos/Typescript.png" alt="facebook" class="logo12">TypeScript</li>
            </ul>
        
        </div>
        <div style="width :12%;">
            <br>
            <ul>
                <li><img src="assets/skill_logos/dsa.png" alt="facebook" class="logo12">DSA</li>
                <li><img src="assets/skill_logos/dbms.png" alt="facebook" class="logo12">DBMS</li>
                <li><img src="assets/skill_logos/os.png" alt="facebook" class="logo12">OS</li>
                <li><img src="assets/skill_logos/cn.png" alt="facebook" class="logo12">CN</li>
            </ul>
        
        </div>
        <div style="width :18%;">
            <br>
            <ul class="bar">
                <li><img src="assets/skill_logos/pblmsolving.jpeg" alt="facebook" class="logo12">Problem Solving Skills</li>
                <li><img src="assets/skill_logos/Analytical.png" alt="facebook" class="logo12">Analytical Skills</li>
                <li><img src="assets/skill_logos/logical.png" alt="facebook" class="logo12">Logical Skills</li>
                <li><img src="assets/skill_logos/chatgpt.jpeg" alt="facebook" class="logo12">ChatGPT</li>

            </ul>
        
        </div>

        </div>

</div>