<!-- <app-navbar></app-navbar>
<app-home></app-home>
<app-about></app-about>
<app-education></app-education>
<app-experience></app-experience>
<app-projects></app-projects>
<app-certifications></app-certifications>
<app-skills></app-skills>
<app-contact></app-contact>
<app-languages-known></app-languages-known>
<app-footer></app-footer> -->

<h1 class="text-center">HI👋🏼</h1>



<!-- <app-achievements></app-achievements> -->
<!-- <app-responsibilities></app-responsibilities> -->

<!-- <app-programming-languages></app-programming-languages> -->
<!-- <app-talks></app-talks> -->
<!-- <app-hobbies></app-hobbies> -->


<!-- <app-languages-known></app-languages-known> -->

