:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    /* color: #333; */
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .rootcontent {
    margin-top: 60px; /* Adjust the margin to prevent content from being hidden behind the fixed menu */
    padding: 20px; /* Optional padding for content */
    /* Add any additional styles for your main content */
  }
  
  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 6rem;

  }