    <app-navbar></app-navbar>
<!-- <br><br><br><br><br> -->

<app-home></app-home>
<app-about></app-about>
<app-education></app-education>
<app-experience></app-experience>
<app-projects></app-projects>
<app-certifications></app-certifications>



<!-- <app-achievements></app-achievements> -->
<!-- <app-responsibilities></app-responsibilities> -->
<app-skills></app-skills>
<app-contact></app-contact>
<app-languages-known></app-languages-known>
<!-- <app-programming-languages></app-programming-languages> -->
<!-- <app-talks></app-talks> -->
<!-- <app-hobbies></app-hobbies> -->
<app-footer></app-footer>

<!-- <app-languages-known></app-languages-known> -->

