<h1 style="text-align: center;">Personal Info</h1>
<div style="display : flex;justify-content: center;margin-right: 5%;">
<div class="flex-item">
    <div style="width : 90%">
            <h3 style="text-align: center;">Family Details</h3>

            <br>
            
            <h4>Shaik Karimulla(Father)</h4>
            <ul>
                <li>Age : 51Y</li>
                <li>Occupation : LIC Manager</li>                
            </ul>
            <hr>
            <h4>Pathan Yaseen(Mother)</h4>
            <ul>
                <li>Age : 46Y</li>
                <li>Occupation : Govt Teacher</li>
            </ul>
            <hr>
            <h4>Shaik Sabir(Elder Brother)</h4>
            <ul>
                <li>Age : 26Y</li>
                <li>Occupation : Web3 Developer</li>

            </ul>
        </div>
 </div>
       
       

 <div class="flex-item">
    <div>
    <h3 style="text-align: center;">My Details</h3><br>
        <ul class="bar">
            <li>Date of Birth : Sep 28,2001 </li>
            <li>Email : ruhith2803@gmail.com</li>
            <li>Phone : +91-8688348590</li>
            <li>Address : Hyderabad,Telangana</li>
            <li>Language : English,Hindi,Telugu,Urdu</li>
            <li>Maritial Staus : Single</li>
            <li>Gender : Male</li>
        </ul>
    </div>
</div>
</div>