<div id="homearea">
<div class="homebody">
<main>
    
   
    
    
</main>
<section class="firstSection">
    <div class="leftSection">
        <div style="text-align:center" class="round-container">
            <img src="assets/Ruhith1.png" alt="Chotu" class="round-image" />
          </div>
        <span class="purple">RUHITH SHAIK</span>
        <div>Web developer</div>
        <span id="element1"></span>
        <div class="buttons">
            <button class="btn" (click)="downloadResume()">Download Resume</button>
            <!-- <button mat-flat-button color="primary" (click)="downloadResume()">Download Resume</button> -->

            <button class="btn" (click)="scrolltopContactArea()">Hire me</button>
        </div>
    </div>
    <div>
        <br><br><br>
        <video width="400" controls>
            <source src="assets/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </div>
</section>
<!-- <hr> -->
    <div class="logo-container">
        
        <a href="https://www.facebook.com/ruhith.ssmb/" target="_blank"><img src="assets/fb1.png" alt="facebook" class="logo" ></a>
        <a href="https://twitter.com/ruhith2803" target="_blank"><img src="assets/twitter.png" alt="Logo 2" class="logo"></a>
        <a href="https://www.instagram.com/scrg_777/" target="_blank"><img src="assets/insta1.png" alt="Logo 3" class="logo"></a>
        <a href="https://github.com/ruhith777" target="_blank"><img src="assets/git.png" alt="Logo 3" class="logo"></a>
        <a href="https://www.linkedin.com/in/ruhith-shaik-b02503207/" target="_blank"><img src="assets/linkedin1.png" alt="Logo 3" class="logo"></a>

        <!-- Add more logos as needed -->
    </div>
</div>
</div>

<!-- <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script> -->
<!-- <script>
    var typed = new Typed('#element1', {
        strings: ['Web3 Developer', 'Quant ', 'Analyst', 'research'],
        typeSpeed: 50,
    });
</script> -->

<!-- <div id="homearea">
<div class="homebody">
<main>
    
   
    <section class="firstSection">
        <div class="leftSection">
            <br> <br> <br> <br> <br> 

            Hi,My name is<span class="purple"> Sabir </span>
            <div> and im a passionate</div>
            <div>web developer</div>
            <span id="element1"></span>
            
            <div class="buttons">
                <button class="btn">Download Resume</button>
                <button class="btn">Hire me</button>
            </div>
        </div>
        <div class="rightSection">
            <br> <br> <br> <br>
            <img src="assets/pp.png">
        </div>
   
    </section>    
    
</main>
<hr>
    <div class="logo-container">
        
        <img src="assets/logo.png" alt="Logo 1" class="logo">
        <img src="assets/logo.png" alt="Logo 2" class="logo">
        <img src="assets/logo.png" alt="Logo 3" class="logo">
        <img src="assets/logo.png" alt="Logo 3" class="logo">
        <img src="assets/logo.png" alt="Logo 3" class="logo">

       
    </div>
</div>
</div>
 <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script> -->
<!-- <script>
    var typed = new Typed('#element1', {
        strings: ['Web3 Developer', 'Quant ', 'Analyst', 'research'],
        typeSpeed: 50,
    });
</script> -->

<!--    <section class="firstSection">
       
        <div class="leftSection">
            <br><br><br>

            <div class="homeimage">
                <img src="assets/pp.png">
            </div>
            <div class="homematter">
            Hi,My name is<span class="purple"> Sabir</span>
             <div>web3 developer</div>
            <span id="element1"></span>
            
            <div class="buttons">
                <button class="btn">Download Resume</button>
                <button class="btn">Hire me</button>
            </div>
            </div>
        </div>

        <div>
            <video width="400" controls>
                <source src="assets/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </div>
        
            
        
   
    </section>  -->

 