<div id="homearea">
    <div class="homebody">
        <section class="home-section">
            <div class="home-content">
                <div class="home-left">
                    <div class="profile-image-container">
                        <img src="assets/Ruhith1.png" alt="Ruhith Shaik" class="profile-image" />
                    </div>
                    <div class="home-text">
                        <span class="name-highlight">RUHITH SHAIK</span>
                        <div class="role">.NET Developer</div>
                        <span id="element1"></span>
                        <div class="home-buttons">
                            <button class="btn" (click)="downloadResume()">Download Resume</button>
                            <button class="btn" (click)="scrolltopContactArea()">Hire me</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social-links-container">
                <a href="https://www.facebook.com/ruhith.ssmb/" target="_blank" class="social-link" title="Facebook">
                    <img src="assets/fb1.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com/ruhith2803" target="_blank" class="social-link" title="Twitter">
                    <img src="assets/twitter.png" alt="Twitter" />
                </a>
                <a href="https://www.instagram.com/scrg_777/" target="_blank" class="social-link" title="Instagram">
                    <img src="assets/insta1.png" alt="Instagram" />
                </a>
                <a href="https://github.com/ruhith777" target="_blank" class="social-link" title="GitHub">
                    <img src="assets/git.png" alt="GitHub" />
                </a>
                <a href="https://www.linkedin.com/in/ruhith-shaik-b02503207/" target="_blank" class="social-link" title="LinkedIn">
                    <img src="assets/linkedin1.png" alt="LinkedIn" />
                </a>
            </div>
        </section>
    </div>
</div>
