<h1 style="text-align: center;">Extracurricular Activities</h1>
<div class="flex-item">
    <div>
        <h3>Member of Street Cause-CBIT</h3>
        <br>
        <ul>
            <li>Street Cause is an NGO comprising of students, intent on doing their bit for the betterment of society. </li>
            <li>Street Cause CBIT, a club of CBIT, is a division of Street Cause. </li>
            <li>FStreet Cause CBIT works in 5 departments(Education,Environment,Orphanage and Old Age Home,Social Initiatives,Women Empowerment)</li>
            <li>We generate funds by organizing different competition events like running,singing,Ganeshtov etc...</li>
        </ul>
    </div>
</div>
<div class="flex-item">

    <div>
        <h3>Coordinator in Shruthi and Sudhee Events(College fests)</h3>
        <br>
        <ul style="margin-left : 10%">
            <li>Organized bug event in Shruthi.</li>
            <li>organized a hackthon</li>
        </ul>
    </div>
    </div>