.extramenubar{
  margin-top: 60px;
  background-color: rgb(18, 18, 62);
  justify-content: center;
  text-align: center;
}
button{
  /* display: inline-flex;
  background-color: blue;
  color:azure;
  margin-inline: 10px;
  margin : 20px;
  position :relative; */
  padding: 10px;
  
    background: blueviolet;
    color:white;
    border: 1px solid white;
    border-radius: 6px;
    font-size:12px;
    cursor: pointer;
    /* margin-right: 3%;   */
    margin : 20px;
}